{% extends "layout.html" %}
{% block content %}
<div class="container">
        <h1>About codegirls level up </h1>
        <p>This is an application that will help people create accounts, login, create posts and logout</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perspiciatis quisquam libero nesciunt veritatis ut ducimus voluptates, delectus, commodi illo dolorum blanditiis aperiam incidunt maxime nobis in doloribus eligendi ea.</p>
        <button class="btn btn-success btn-lg">Read more....</button>
        

</div>


{% endblock %}